
/* Popup HMTL code */
.popup-container{
  display:flex;
  align-items: stretch;
  background-color: snow;
  border: grey solid 2px;
  border-radius: 10px; 
  width: 500px;
  height: 500px; 
  justify-content: center;
  flex-direction: column; 
}

.popup-button-container{
  display: flex; 
  align-items: stretch;
  justify-content: center; 
}

.popup-button{
  /* display: flex;  */
  /* align-items: stretch; */
  background-color: dodgerblue; 
  border: 1px solid snow;
  border-radius: 15px; 
  height: 70px; 
  font-size: 30px; 
  font-weight: 700; 
  color: snow; 
  margin: 10px; 
}

.pokemon-inventory-container{
  display: flex; 
  align-items: stretch; 
}

.pokemon-container{
  display: flex;
  width: 50%;
}

.pokemon-in-inventory{
  display: flex; 
  width: 100%;
  height:100%;
}

.pokemon-stats{
  /* display: flex; */
  width: 50%;
}
